body{
    background: #212121;
    color: #cfd8dc;
}

.table {
    font: 3em "Trebuchet MS";
    color: #FF9900;
    display: table;
    text-align: center;
    margin: auto;
}

.row {
    display: table-row;
    margin: 25px 0 0;
    font: 1em "Trebuchet MS";
    color: #FF9900;
}

.cell {
    display: table-cell;
    padding: 5px;
}

h1{
    color: #FF9900;
    font: 2em "Trebuchet MS";
    margin: 40px 0px 0px 200px;
}

h2{
    color: #757575;
    margin-left: 50px;
    font: .5em "Trebuchet MS";
    text-align: left;
}

#notTop{
    margin-top: -15px;
    text-align: left;
}

li{
    font: 1.5em "Trebuchet MS";
}

#content{
    font-size: .5em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

#drill{
    text-align: left;
    font: 1em "Trebuchet MS";
    list-style-type: none;
    color: #4fc3f7
}

#drills{
    font-size: 3em;
}

#link{
    font-size: 2.5em;
    list-style-type: none;
}

#links{
    margin-top: 100px;
    text-align: center;
}

#small{
    font-size: 1em;
    color: #757575;
}

#about{
    margin-top: 100px;
}

a{
    color: #4fc3f7;
    text-decoration: none;
}


a:hover{
    transition: 1s all ease;
    color: #660000;
}

input{
    font: 45px "Trebuchet MS";
    height: 50px;
    width: 70px;
    background: #757575;
    box-sizing: content-box;
    border: 1px;
    border-radius: 8px;
    text-align: center;
}

input:focus{
    background: #e0e0e0;
    transition: .25s all linear;
    outline: none;
}

button{
    background: #FF9900;
    color: #660000;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font: 20px "Trebuchet MS";
}

button:hover{
    background: #660000;
    color: #FF9900;
    border: 1px;
    outline: none;
    cursor: pointer;
    transition: .25s all linear;
}

#buttonShort{
    background: transparent;
    color: #FF9900;
    width: 50px;
    margin-bottom: 0px;
}

#buttonShort:hover{
    color: #660000;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: transparent;
    font: 2em "Trebuchet MS";
    color: #4fc3f7;
    cursor: pointer;
    padding: 20px 100px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}
    
.active, .collapsible:hover {
    color: #FF9900;
    background-color: transparent;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
    
.content {
    padding: 0 170px;
    display: none;
    overflow: hidden;
    font: 1.5em "Trebuchet MS";
    color: #757575;
    background-color: transparent;
}

.sublevel{
    padding: 0 50px;
}

.valid{
    padding: 0 50px;
    color: green;
}

.invalid{
    padding: 0 50px;
    color: red;
}